table {
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
}
.table-bracket {
  td {
    text-align: left;
    vertical-align: middle;

    &:nth-child(1) {
      width: 100px;
    }
    &:nth-child(2) {
      text-align: right;
      width: 25px;
    }
    &:nth-child(4) {
      text-align: left;
      width: 25px;
    }
  }
}

@media (max-width: 600px) {
  .table-bracket {
    td {
      &:nth-child(1) {
        width: auto;
      }
      &:nth-child(2) {
        text-align: right;
        width: auto;
      }
      &:nth-child(4) {
        text-align: left;
        width: auto;
      }
    }
  }
}
