@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import "watermark";
@import "figure";
@import "table";
@import "typography";

* {
  font-family: "Tenor Sans", sans-serif;
  color: #2e2e2e;
}

body {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.body-container {
  height: 100vh;
}

.container-result {
  position: relative;
  padding-bottom: 35px;
  padding-top: 35px;

  @media (max-width: 600px) {
  }
}

@media (max-width: 600px) {
  .mobile-1 {
    height: 25%;
  }
  .mobile-2 {
    height: 75px;
  }
}
.container-result-title {
  font-size: 20px;
  text-transform: uppercase;
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.container-form-calc,
.container-form-result {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }
}

.body-row {
  height: 100%;
}

.bg-image-1 {
  position: relative;
  transition: all 1s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: -1;
    transition: all 1s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d6d8da;
    z-index: -1;
  }

  &.bg-image-1-result {
    &::after {
      background-image: url(../img/bg2.jpg);
      background-position: center center;
    }
  }
}

.h1 {
  font-size: 40px;
  letter-spacing: 10px;
}

.h2 {
  font-size: 32px;
  letter-spacing: 5px;

  @media (max-width: 600px) {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

.card-pythagoras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 15px 0;
  color: #000000;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-pythagoras-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: transparent;
}

.form-calc {
  width: 100%;
  padding: 0 15px;

  @media (max-width: 600px) {
    padding: 0;
  }
  * {
    color: #e7ddd3;
  }
}

.form-title {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 24px 0 0 0;
  }
}

.form-group {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 12px 0;
  }
}

.form-calc-group {
  position: relative;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.form-calc-control {
  outline: none;
  font-size: 24px;
  text-align: center;
  padding: 1em 0.5rem;
  border: none;
  transition: all 300ms;
  outline: none;
  box-shadow: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-webkit-input-placeholder {
    color: #e7ddd3;
  }
  &:-ms-input-placeholder {
    color: #e7ddd3;
  }
  &::-moz-placeholder {
    color: #e7ddd3;
  }
  &:-moz-placeholder {
    color: #e7ddd3;
  }

  &.is-invalid {
    border-color: red;
    color: red;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0.5rem;
  }
}

.form-calc-submit {
  border: none;
  border-bottom: 1px solid #e7ddd3;
  background: none;
  outline: none;
  padding: 0 30px;
  font-size: 36px;

  @media (max-width: 600px) {
    //
  }
}
.btn-cancel {
  border: none;
  border-bottom: 1px solid #000000;
  background: none;
  outline: none;
  padding: 0 30px;
  font-size: 36px;
  color: #000000;
  opacity: 0.75;

  transition: all 300ms;

  &:hover {
    text-decoration: none;
    color: #000000;
    opacity: 1;
  }
}

.form-calc-label-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 22px;
  margin: 0;
  opacity: 0.3;
}

@media (max-width: 600px) {
  body {
    position: relative;
    height: auto;
    width: auto;
  }

  .mobile-grid {
    display: flex;
    flex-direction: column;
  }

  .card-pythagoras {
    margin: 1px 0;
    font-size: 12px;
    letter-spacing: 0px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .mobile-a {
    padding: 10px 0px 5px 0 !important;
  }
}

img {
  display: none !important;
}
.img {
  display: block !important;
}
.img-arrow {
  height: 300px;
  width: 300px;
  object-fit: contain;
  @media (max-width: 600px) {
    display: none !important;
  }
}

.value1-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

@media (max-width: 600px) {
  .body-style-2 {
    padding-bottom: 50px;
    background: #cde1d8;
  }
}
